
@{
    ViewData["Title"] = "Index";
}

<h1>List Index</h1>

<form asp-action="Add" enctype="application/x-www-form-urlencoded" method="post">

<input type="text" name="name" />
<button type="submit">Add</button>
</form>